header {
    font-size: 1.5rem;
    color: darkblue;
    margin-bottom: 10px;
}

button[name='submit'] {
    color: darkgreen;
}

button[name='clear'] {
    color: darkred;
}

.mr5{
    margin-right: 5px;
}